<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jointsky.crawler.entity.mapper.ProvinceMonthDataMapper">
    <resultMap id="BaseResultMap" type="com.jointsky.crawler.entity.model.ProvinceMonthData">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="region_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="bc_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="year" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="month" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="value" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="str_value" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="add_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
</mapper>