<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jointsky.crawler.entity.mapper.ProxyIpMapper">
    <resultMap id="BaseResultMap" type="com.jointsky.crawler.entity.model.ProxyIp">
        <!--
          WARNING - @mbg.generated
        -->
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ip" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="port" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="used" javaType="java.lang.Byte" jdbcType="TINYINT"/>
            <arg column="other" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="add_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
</mapper>